<!-- templates/home.html -->
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="splash-screen">
	<img src="static/images/logo_w_caption.svg" alt="Logo" />
</div>

<div class="container">
	<div class="video-box">
		<video src="static/videos/v1.mp4" autoplay loop muted></video>
	</div>
	<div class="side-panel">
		<div class="logo">
			<img src="static/images/logo_w_caption.svg" />
		</div>
		<a href="{{ url_for('select_option') }}" class="start-button">START</a>
	</div>
</div>

<script defer>
	window.onload = function () {
		setTimeout(() => {
			document.querySelector(".splash-screen").classList.add("fade-out");
		}, 2000);
	};

	function openFullscreen() {
		var elem = document.documentElement;
		if (elem.requestFullscreen) {
			elem.requestFullscreen();
		} else if (elem.webkitRequestFullscreen) {
			elem.webkitRequestFullscreen();
		} else if (elem.msRequestFullscreen) {
			elem.msRequestFullscreen();
		}
	}
</script>
{% endblock %}
